.placeorder{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    margin-top: 100px;
}

.placeorder-left{
    width: 100%;
    max-width: max(30%,500px);
}

.placeorder-left p{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.placeorder-left input {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline-color: tomato;
}

.placeorder-left .multifields{
    display: flex;
    gap: 10px;
}

.placeorder-right{
    width: 100%;
    max-width: max(30%,500px);
    margin-top: 100px;
}